/*  -------------------------------
    Généric
    ------------------------------- */

    html {
        box-sizing: border-box;
        font-size: 2rem;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

/*  -------------------------------
    Éléments
    ------------------------------- */

    /*---------- Base ----------*/

    body {

        max-width: 1440px;
        margin: 0 auto;

        font-family: "Roboto", serif;

    }

    .wrapper {

        max-width: 1100px;
        margin: 0 auto;

    }

    /*---------- Éléments textes ----------*/

    h1 a {

        color: white;
        font-size: 96px;
        font-weight: 900;
        letter-spacing: 30px;
        margin: 0;
        text-align: center;

        text-decoration: none;

    }

    a:hover {

        color: #D35400;

    }

    h2 {

        font-family: "Lato", serif;
        font-weight: 100;
        font-style: normal;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 3px;

    }

    h3 {

        font-family: "Quicksand", serif;
        font-size: 36px;
        line-height: 60px;
        font-weight: 300;

    }

    h4 {

        margin: 0;
        line-height: 40px;
        font-size: 20px;

    }

    p {

        font-size: 20px;
        line-height: 40px;
        margin: 0;

    }

    span {

        font-size: 20px;
        font-weight: bold;

    }

    .logo {

        display: flex;
        justify-content: center;

        width: 210px;
        font-family: "Quicksand", serif;
        font-size: 30px;
        line-height: 60px;
        font-weight: bold;
        color: #D35400;
        padding: 75px 20px;
        border: #D35400 solid 5px;
        border-radius: 200px;
        background-color: white;

        margin-top: 15px;
        margin-bottom: 15px;
    
    }

    .material-symbols-outlined {

        font-size: 50px;
        background-color: white;
        border-radius: 50px;

    }

/*  -------------------------------
    Components
    ------------------------------- */

    /*---------- Header ----------*/

    header {

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #34495E;
        height: 200px;

    }

    /*---------- Section slogan ----------*/

    .slogan {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: end;

    }

    /*---------- Section Regles ----------*/

    .regles {

        display: flex;   
        flex-direction: column;
        margin-bottom: 30px;

    }

    .regles .guillemets {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 107px;

    }

    .regles .insecable {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 107px;
        background-color: #BDC3C7;

    }

    .regles .veuve {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 107px;

    }

    .regles .hauteur {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 107px;

    }

    /*---------- Section Info ----------*/

    .info .wrapper{

        width: 1002px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin-bottom: 48px;
        margin-top: 12px;

    }

    /*---------- Footer ----------*/

    footer {
        align-content: center;
        background-color: #2980B9;
        height: 100px;
        
    }

    footer .wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }